@charset 'UTF-8';

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/


@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    img{
        border: 3px solid black;
    }

    img#pc{display: none;}
    img#phone{display: none;}
    img#print{display: block;}
    img#tablet{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }

    h1::after{
        content: 'Samsung';
    }

    img#pc{display: none;}
    img#phone{display: none;}
    img#print{display: none;}
    img#tablet{display: block;}
    img#tv{display: none;}

}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    body{
        background-image: url('../imagens/back-pc.jpg');
    }

    main{
        width: 600px;
    }

    h1::after{
        content: 'Dell';
    }

    img#pc{display: block;}
    img#phone{display: none;}
    img#print{display: none;}
    img#tablet{display: none;}
    img#tv{display: none;}

}

@media screen and (min-width: 1201px){
    body{
        background-image: url('../imagens/back-tv.jpg');
    }

    h1::after{
        content: 'LG';
    }

    img#pc{display: none;}
    img#phone{display: none;}
    img#print{display: none;}
    img#tablet{display: none;}
    img#tv{display: block;}

}